{% extends 'Dashboard.html' %}

{% block title %} category {% endblock %}

{% block content %}
 </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">DashBoard</a></li>
        <li><a href="{{url_for('category')}}">category</a></li>
        <li><a href="/post">post</a></li>
        <li><a href="/logout">logout</a></li>
        <li><a href="/change password">change password</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>

    </div>
<div class="row">
    <div class="col col-md">
      <h3> category </h3>
      <hr/>

    <a href="/addcategory">add new category</a>
    <br/>

 <table border='2' width='400'>
         <tr>
         <th>#S.N</th><th>Name</th>
         </tr>
         {% if(cat) %}
         {% for i in cat %}
         <tr><td>{{loop.index}}</td><td>{{i.name}}</td>
         <td><a href=>
         </tr>
         {% endfor %}

         {% endif %}


</table>
</div>


</div>
</div>
     </div>
</div>
  </div>
</div>


{% endblock %}









{% block footer %}

<footer>
        <div class="container" >
            <div class="row" style="background-color:black" >
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1"  >
                    <div style="float:left">
                      <h4 >Posted by: mananjay pandey</h4><br>
                    <h4>Contact no: 8340709370</h4><br>
                        <h4 >organiser: gist technosolution</h4>
                    </div>

                        <div class="col-lg-4" >
                            <img style="border-radius:100px" src="{{url_for('static',filename='img/mj.jpg')}}"  width="200" height="200" >
                        </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
    </footer>
{% endblock %}
